body, html {
    height: 100%;
    margin: 0 px;
    background: black;
    font-family: "Montserrat", "Avenir";
}

canvas {
    width: 100%;
    height: 100%;
}

h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin : 0;
    padding: 20px 0;
}